@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
  html {
    font-family: "Cormorant Upright", serif;
  }
  .container {
    margin: 0 auto;
  }
  img {
    max-width: 100%;
  }
  button {
    display: inline-block;
  }
  .reservationForm {
    width: 80%;
  }
  form input {
    outline: 0;
    background-color: transparent;
    color: #fde68acc;
    padding: 5px;
    font-size: 1.2em;
  }
  .reservationForm input {
    border: 1px solid rgba(253, 230, 138, 0.15);
    padding: 15px;
    height: 60px;
    flex: 1;
    font-size: 1.2em;
  }
  .food-gallery .column:hover p {
    opacity: 1;
    transform: translateY(0);
    height: auto;
  }
  .food-gallery .column:hover h2 {
    transform: translateY(-10px);
  }
  .blog-article img {
    transition: 0.5s;
    width: 100%;
  }
  .blog-article:hover img {
    transform: scale(1.3);
  }
}
