@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
  html {
    font-family: "Cormorant Upright", serif;
  }
  .container {
    margin: 0 auto;
  }
  .reservationForm input {
    outline: 0;
    background-color: transparent;
    border: 1px solid rgba(253, 230, 138, 0.15);
    padding: 15px;
    color: #fde68acc;
    height: 48px;
  }
  .food-gallery .column:hover p {
    opacity: 1;
    transform: translateY(0);
    height: auto;
  }
  .food-gallery .column:hover h2 {
    transform: translateY(-10px);
  }
}
